## 1. Two Sum
Input: nums = [2,7,11,15],
 target = 9
 
Output: [0,1]